:root{
  --bg: #0b0b0b;
  --panel: rgba(255,255,255,0.03);
  --accent: #DCFBB2; /* pink version - #ff6fcf */
  --muted: #9b9b9b;
  --radius: 6px;
}

*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  font-family: "Courier New", Courier, monospace;
  background: var(--bg) url("/static/backgrounds/bg1.jpg") center/cover no-repeat fixed; 
  color:#ddd;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  padding:40px 60px;
}

/* header */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}
.logo { color:var(--accent); font-size:28px; cursor:pointer; }
.logo .dollar{ color:var(--accent); font-weight:700;}
.navlinks a{
  color:var(--muted);
  text-decoration:none;
  margin: 0 1px;
  font-size:14px;
  transition: color 0.15s ease; /* плавное изменение */
}

.navlinks .sep {
  margin: 0 3px; /* уменьшенный отступ для / */
  color: var(--muted);
  user-select: none;
}

.navlinks a:hover {
  color: #DCFBB2; /* становится белым (не ну раньше реально белый был) */
}
/* main */
.container{ max-width:820px; margin:0 auto; }

.box{
  background:var(--panel);
  border:1px solid rgba(255,255,255,0.03);
  border-radius:var(--radius);
  padding:18px;
  margin-bottom:26px;
  box-shadow:0 2px 0 rgba(0,0,0,0.6) inset;
}
.box h2{
  color:var(--accent);
  margin:0 0 10px 0;
  font-size:18px;
}

/* about content */
.content p{ margin:6px 0; color:#ddd; line-height:1.5; }
.comment-inline{
  display:inline-block;
  margin-left:8px;
  color:var(--muted);
  font-style:normal;
  font-size:12px;
  cursor:help;
}

/* skills columns */
.cols{ display:flex; gap:18px; }
.col{ flex:1; }
.card{
  background:rgba(0,0,0,0.12);
  padding:12px;
  border-radius:6px;
  border: 1px solid rgba(255,255,255,0.02);
}
.card h3{ color:var(--accent); margin:0 0 8px 0; font-size:14px;}
.card ul{ margin:0; padding-left:18px; color:#ddd; }
.card li{ margin-bottom:6px; }

/* footer */
.footer{ display:flex; justify-content:space-between; align-items:center; gap:16px; margin-top:10px;}
.webring a{ color:var(--muted); text-decoration:none; font-size:13px; }
.badges img{ height:36px; margin-left:8px; cursor:pointer; }

/* responsive */
@media (max-width:700px){
  body{ padding:20px; }
  .cols{ flex-direction:column; }
  .footer{ flex-direction:column; align-items:flex-start; gap:6px; }
}

.floating-msg {
  position: fixed;
  left: 50%;
  top: 24%;
  transform: translate(-50%, -20px);
  background: rgba(0, 0, 0, 0.85);
  padding: 8px 14px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.8s ease;
  pointer-events: none;
  z-index: 2000;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

body.shake {
  animation: shake 0.3s linear;
}

